<h1><%= user.firstname %>'s Profile</h1>

<div class="row">
    <div class="col s4">
        <img class="responsive-img" src="<%=user.pic%>" alt="profile pic">
    </div>
    <div class="col s8">
        <p><strong>Name:</strong> <%= user.firstname %> <%= user.lastname %></p>
        <p><strong>Birthday:</strong> <%= moment(user.birthday).format('dddd MMMM Do[,] YYYY') %></p>
        <p><strong>Account Created On:</strong> <%= moment(user.createdAt).format('dddd MMMM Do[,] YYYY') %></p>
        <p>
            <%= user.bio %>
        </p>
        <p>
            <a href="/feed/post" class="waves-effect waves-light btn-small"><i class="material-icons right">cloud</i>UPLOAD IMAGES Sim.p's</a>
            
        </p>
        <p>
            <a href="/feed" class="waves-effect waves-light btn-small"><i class="material-icons right">cloud</i>Visit the Sim.p feed page</a>
        </p>
        <form method="GET" action="/profile/edit/<%= user.id %>">
            <button type="submit" class="waves-effect waves-light btn-small">Edit Profile Page</button>
        </form> 
    </div>
</div>
